# Core functionality - changes here should be rare!
/src/app.py                   @nitaaoktav
/src/backend/database.py      @nitaaoktav
/src/backend/routers/auth.py  @nitaaoktav

# The frontend will need refactored soon to be more object oriented.
/src/static/   @nitaaoktav
